
<script>

	$(document).ready(function() {

		$.get('warby_related_tags', function(ajax_data){

			var tag_data = [];
			var tag_list = [];

			for(var i = 0; i < ajax_data.length; i++) {
				tag_data.push({ label: ajax_data[i].tag, value: ajax_data[i].count });
				tag_list.push({ text: ajax_data[i].tag, weight: ajax_data[i].count });
			}

			new Morris.Donut({
			  element: 'tag-chart',
			  data: tag_data,
			  colors: ['#F4645D', '#724E3B', '#A3654D', '#F1A991', '#ACC9D1', '#A29378'],
			});

			$("#tag-wordcloud").jQCloud(tag_list);

		});

  	$.get('caption_data', function(ajax_data){

			var caption_data_display = [];
			var frame_data = [];
  		var frame_caption_list = [];

  		for(var i = 0; i < ajax_data.length; i++) {
  			frame_caption_list.push({ text: ajax_data[i].tag, weight: ajax_data[i].count });
	  		caption_data_display.push({ y: ajax_data[i].tag, a: ajax_data[i].count });
	  		frame_data.push({ label: ajax_data[i].tag, value: ajax_data[i].count });
  		}

  		new Morris.Donut({
  			element: 'frame-chart',
  			data: frame_data,
			  colors: ['#F4645D', '#724E3B', '#A3654D', '#F1A991', '#ACC9D1', '#A29378'],
  		});

	  	$("#frame-wordcloud").jQCloud(frame_caption_list);

			new Morris.Bar({
			  element: 'caption-bar-chart',
			  data: caption_data_display,
			  xkey: 'y',
			  ykeys: ['a'],
			  labels: ['Series A']
			});

		})

	$.get('comment_data', function(ajax_data){

		var comment_data_display = [];
		// var word_cloud = [];

  	for(var i = 0; i < ajax_data.length; i ++) {
  		comment_data_display.push({ y: ajax_data[i].tag, a: ajax_data[i].count })
  		// word_cloud.push({ text: ajax_data})
  	}

		new Morris.Bar({
		  element: 'comment-bar-chart',
		  data: comment_data_display,
		  xkey: 'y',
		  ykeys: ['a'],
		  labels: ['Series A']
		});

	});

	// add Google Maps stuff

});

	// new Morris.Area({
	//   element: 'area-example',
	//   data: [
	//     { y: '2006', a: 100, b: 90 },
	//     { y: '2007', a: 500,  b: 65 },
	//     { y: '2008', a: 50,  b: 40 },
	//     { y: '2009', a: 1000,  b: 65 },
	//     { y: '2010', a: 50,  b: 40 },
	//     { y: '2011', a: 75,  b: 65 },
	//     { y: '2012', a: 100, b: 90 }
	//   ],
	//   xkey: 'y',
	//   ykeys: ['a', 'b'],
	//   labels: ['Series A', 'Series B']
	// });

</script>

<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100% }
</style>

<section>
	<h2>Playing with different graphs</h2>
	<div class="row">

	<h4>Warby-related Tags</h4>
	<div class="grid-6" id="tag-chart" style="height: 250px;"></div>
	<div class="grid-6" id="tag-wordcloud" style="width: 550px; height: 350px; position: relative;"></div>	

	<h4>Warby Frames</h4>
	<div class="grid-6" id="frame-chart" style="height: 250px;"></div>
	<div class="grid-6" id="frame-wordcloud" style="width: 550px; height: 350px; position: relative;"></div>

	</div>
	<h4>Captions Chart (Frames)</h4>
	<div class="grid-12" id="caption-bar-chart" style="height: 250px;"></div>
	<h4>Comments Chart (Frames)</h4>
	<div class="grid-12" id="comment-bar-chart" style="height: 250px;"></div>
	<div class="grid-12" id="area-example" style="height: 250px;"></div>


</section>