<section>
	<h3>Playing with different graphs</h3>
	<div class="row">
	<div class="grid-6" id="tag-chart" style="height: 250px;"></div>
	<div class="grid-6" id="wordcloud" style="width: 550px; height: 350px; position: relative;"></div>
	</div>
	<div class="grid-12" id="area-example" style="height: 250px;"></div>
	<div class="grid-12" id="line-example" style="height: 250px;"></div>
</section>
<script>

	var frames_data = <%= frames_data.collect { |i| [i[:tag], i[:count]] } %>
	console.log(frames_data)

	new Morris.Donut({
	  // ID of the element in which to draw the chart.
	  element: 'tag-chart',
	  // Chart data records -- each entry in this array corresponds to a point on
	  // the chart.
	  data: [
	    { label: '#warbyparker', value: 22133 },
	    { label: '#warbyxstandard', value: 1198 },
	    { label: '#warbywalk', value: 673 },
	    { label: '#warby', value: 570 },
	    { label: '#warby', value: 570 },
	    { label: '#warbyparkers', value: 420 }
	  ],
	  // formatter: function(y, data) {return '#' + y}
	  colors: ['#F4645D', '#724E3B', '#A3654D', '#F1A991', '#ACC9D1', '#A29378'],
	});

	$(document).ready(function() {
   $("#wordcloud").jQCloud(word_list);
});

	// Ajax request to get tag data

	// jQcloud
  var word_list = [
    {text: "#warby", weight: 135},
    { text: '#warbyparker', weight: 133 },
    { text: '#warbyxstandard', weight: 1198 },
    { text: '#warbywalk', weight: 673 },
    { text: '#warby', weight: 570 },
    { text: '#warby', weight: 570 },
    { text: '#warbyparkers', weight: 420 }
    // ...as many words as you want
	];

	new Morris.Area({
	  element: 'area-example',
	  data: [
	    { y: '2006', a: 100, b: 90 },
	    { y: '2007', a: 500,  b: 65 },
	    { y: '2008', a: 50,  b: 40 },
	    { y: '2009', a: 1000,  b: 65 },
	    { y: '2010', a: 50,  b: 40 },
	    { y: '2011', a: 75,  b: 65 },
	    { y: '2012', a: 100, b: 90 }
	  ],
	  xkey: 'y',
	  ykeys: ['a', 'b'],
	  labels: ['Series A', 'Series B']
	});

	$.get('comment_data', function(ajax_data){

		var data_to_display = [];

  	for(var i = 0; i < ajax_data.length; i ++) {
  		data_to_display.push({ y: ajax_data[i].tag, a: ajax_data[i].count })
  	}

  	// console.log(data_to_display);

  	var test = [
  		{ y: "nyc", a: 1},
  		{ y: "sf", a: 2},
  		{ y: "chi", a: 5}
  	]

		new Morris.Bar({
		  element: 'line-example',
		  data: data_to_display[0],
		  // [
		  	// $.each(["nyc", "sf", "chi"], function(index, value){
		  	// 	if(index < 2){
		  	// 		"{ y: value, a: index},"
		  	// 	} else {
		  	// 		"{ y: value, a: index}"
		  	// 	}
		  	// })
		  	// { y: data_to_display[0].y, a: data_to_display[0].a },
		  	// { y: data_to_display[1].y, a: data_to_display[1].a },
		  	// { y: data_to_display[2].y, a: data_to_display[2].a },
		  	// { y: data_to_display[3].y, a: data_to_display[3].a },
		  	// { y: data_to_display[4].y, a: data_to_display[4].a },
		  	// { y: data_to_display[5].y, a: data_to_display[5].a }
		  // ],
		  xkey: 'y',
		  ykeys: ['a'],
		  labels: ['Series A']
		});

	});

</script>