<!-- <div class="grid-12" id="line-example" style="height: 250px;"></div> -->

<div ng-controller="FramesCtrl" id="testing">
  <p>{{$scope.test}}</p>
<!--   <div ng-repeat="frame in frames">
    <p>{{frame.tag}}</p>
  </div> -->
</div>

<script>

    // new Morris.Bar({
    //   element: 'line-example',
    //   data: [
    //     { y: "hello", a: 3}
    //   ],
    //   // [
    //     // $.each(["nyc", "sf", "chi"], function(index, value){
    //     //  if(index < 2){
    //     //    "{ y: value, a: index},"
    //     //  } else {
    //     //    "{ y: value, a: index}"
    //     //  }
    //     // })
    //     // { y: data_to_display[0].y, a: data_to_display[0].a },
    //     // { y: data_to_display[1].y, a: data_to_display[1].a },
    //     // { y: data_to_display[2].y, a: data_to_display[2].a },
    //     // { y: data_to_display[3].y, a: data_to_display[3].a },
    //     // { y: data_to_display[4].y, a: data_to_display[4].a },
    //     // { y: data_to_display[5].y, a: data_to_display[5].a }
    //   // ],
    //   xkey: 'y',
    //   ykeys: ['a'],
    //   labels: ['Series A']
    // });


</script>
