<h1>Glasses#index</h1>
<ul>
  <% @glasses_captions.each do |g| %>
    <% g.each do |p| %>
      <li>Photo ID: <%= p[:photo_id] %>, Tag: <%= p[:tag] %>, Caption: <%= p[:caption] %></li>
    <% end %>
  <% end %>
</ul>
