<h1>Warby Instagram Photos</h1>

<div ng-app = "PhotoApp">

  <div ng-controller="PhotoCtrl" class="photo_set">

    <div class="search">
      <input ng-model="query">
      <h3>Filter Term: {{query}}<h3>
      <input ng-model="stylechoice">
      <h5>Styleize!: {{stylechoice}}</h5>

      <h5>There are {{getTotalPhotos()}} photos in this collection</h5>
    </div>

    <div class="main"> 
      <div ng-repeat="photo in photos | filter:query" class="photo {{stylechoice}}" ng-click="styleclass = {{stylechoice}}" ng-click="">
        <p>User: {{photo.instagram_user_id}}</p>
        <p>Caption: {{photo.caption}}</p>
        <p>Filter: {{photo.filter}}</p>
        <p>Lat: {{photo.latitude}}</p>
        <p>Lon: {{photo.longitude}}</p>
        <img src="{{photo.low_res_image_url}}"><br>
      </div>
    </div>


  </div>

</div>