<script>
$(function(){

  var faye = new Faye.Client('http://localhost:9292/faye');
  faye.subscribe('/glasses/public', function(data){
    alert(data);
  });
  
});

</script>

<div class="row">
  <div class="span8 offset1"></div>
</div>

<div ng-app="PhotoApp">

  <div ng-controller="PhotoCtrl" class="photo_set">

  <div class="row">    
    <div class="span6 offset3">
      <h3>Instagram Photos tagged #WARBY</h3>
      <div class="todo-search">      
        <input ng-model="query" placeholder="Enter #hashtag term here" class="todo-search-field span5">
      </div>
      <h3>{{query}}<h3>
<!--       <input ng-model="stylechoice">
      <h5>Styleize!: {{stylechoice}}</h5>
 -->
      <h5>{{getTotalPhotos()}} photo results</h5>
    </div>
  </div>

<!--     <div>{{getComments()}}</div> -->

    <div class="main row-fluid"> 
      <div ng-repeat="photo in photos | filter:query" class="photo {{stylechoice}}" ng-click="styleclass = {{stylechoice}}" ng-click="">
<!--         <p>User: <a href="http://instagram.com/{{photo.user}}" target="_blank">{{photo.user}}</a></p>
        <p>Photo Date: {{photo.photo_taken_at_time}}</p>
        <p>Caption: {{photo.caption}}</p>
        <hr> -->
        <a href="{{photo.photo_link}}" target="_blank"><img src="{{photo.photo}}"></a><br>
        <!-- <div ng-repeat="comment in photo.comments">
          <p><b>{{comment.user}} says</b>: {{comment.comment}}</p> -->
        </div>
      </div>
    </div>


  </div>

</div>